<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Constants -->
    <!-- pi is already defined in xacro, no need to redefine -->
    
    <!-- Default inertial macro -->
    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <mass value="${mass}"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia 
                ixx="${mass * 0.0833333}" ixy="0.0" ixz="0.0"
                iyy="${mass * 0.0833333}" iyz="0.0"
                izz="${mass * 0.0833333}"/>
        </inertial>
    </xacro:macro>
    
    <!-- Materials -->
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
</robot>
