<?xml version="1.0"?>
<launch>
    <!-- 加载空白世界 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- 生成目标车辆 -->
    <group ns="target_car">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find autolabor_description)/urdf/autolabor_mini.urdf.xacro'"/>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model target_car -x 0 -y 0 -z 0"/>
    </group>

    <!-- 生成跟踪车辆 -->
    <group ns="track_car">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find autolabor_description)/urdf/autolabor_mini.urdf.xacro'"/>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model track_car -x -2 -y 0 -z 0"/>
    </group>
</launch>
